In [3]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_census = pd.read_pickle('df_census.pkl')
df_census

,GEO_ID,NAME,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
1,36061000100,"Census Tract 1, New York County, New York",0,0,0,1.000000,0,0
2,36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,0.575705,1077,207
3,36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,0.562746,3345,1183
4,36061000500,"Census Tract 5, New York County, New York",0,0,0,1.000000,0,0
5,36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,0.533049,4271,786
...,...,...,...,...,...,...,...,...
284,36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,0.549753,3827,915
285,36061031100,"Census Tract 311, New York County, New York",0,0,0,1.000000,0,0
286,36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,0.499750,1881,1521
287,36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,0.484731,3825,3622
288,36061031900,"Census Tract 319, New York County, New York",0,0,0,1.000000,0,0

In [6]:
#Rename the GEO_ID column into GEOID
df_census.rename(columns={'GEO_ID':'GEOID'}, inplace=True)
df_census

,GEOID,NAME,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
1,36061000100,"Census Tract 1, New York County, New York",0,0,0,1.000000,0,0
2,36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,0.575705,1077,207
3,36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,0.562746,3345,1183
4,36061000500,"Census Tract 5, New York County, New York",0,0,0,1.000000,0,0
5,36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,0.533049,4271,786
...,...,...,...,...,...,...,...,...
284,36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,0.549753,3827,915
285,36061031100,"Census Tract 311, New York County, New York",0,0,0,1.000000,0,0
286,36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,0.499750,1881,1521
287,36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,0.484731,3825,3622
288,36061031900,"Census Tract 319, New York County, New York",0,0,0,1.000000,0,0

In [10]:
#2 reading in our Census Tract Data shapefile as a Geopandas.dateframe
gpd2019shp = gpd.read_file("tl_2019_36_tract.shp")
gpd2019shp.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands.  British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [11]:
gpd2019shp

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36,081,046200,36081046200,462,Census Tract 462,G5020,S,249611,0,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36,081,046300,36081046300,463,Census Tract 463,G5020,S,159415,0,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36,081,046400,36081046400,464,Census Tract 464,G5020,S,228767,0,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4913,36,081,027900,36081027900,279,Census Tract 279,G5020,S,177155,0,+40.7516729,-073.8802222,"POLYGON ((-73.88189 40.75208, -73.88096 40.752..."
4914,36,081,028000,36081028000,280,Census Tract 280,G5020,S,165398,0,+40.6883158,-073.7797191,"POLYGON ((-73.78243 40.69034, -73.78160 40.690..."
4915,36,081,028100,36081028100,281,Census Tract 281,G5020,S,174444,0,+40.7522203,-073.8825920,"POLYGON ((-73.88431 40.75567, -73.88351 40.755..."
4916,36,081,028200,36081028200,282,Census Tract 282,G5020,S,182472,0,+40.6849947,-073.7738873,"POLYGON ((-73.77709 40.68820, -73.77662 40.688..."
4917,36,081,028400,36081028400,284,Census Tract 284,G5020,S,429455,0,+40.6825033,-073.7778568,"POLYGON ((-73.78302 40.68428, -73.78213 40.684..."

In [12]:
# Merging our dataframes together on Geo_ID tag
first_merge = gpd2019shp.merge(df_census, on='GEOID')
first_merge

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME_x,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
0,36,061,000700,36061000700,7,Census Tract 7,G5020,S,253655,245812,+40.7011730,-074.0020025,"POLYGON ((-74.01251 40.70677, -74.01195 40.707...","Census Tract 7, New York County, New York",6468,5803,113125,0.544959,3524,2935
1,36,061,021500,36061021500,215,Census Tract 215,G5020,S,69708,0,+40.8135272,-073.9494713,"POLYGON ((-73.95151 40.81201, -73.95093 40.812...","Census Tract 215, New York County, New York",3013,912,39357,0.503525,1517,463
2,36,061,025900,36061025900,259,Census Tract 259,G5020,S,75469,0,+40.8232145,-073.9423562,"POLYGON ((-73.94460 40.82146, -73.94405 40.822...","Census Tract 259, New York County, New York",2711,1571,46972,0.539957,1463,802
3,36,061,023801,36061023801,238.01,Census Tract 238.01,G5020,S,352467,518667,+40.7551476,-073.9530043,"POLYGON ((-73.96159 40.74982, -73.96071 40.751...","Census Tract 238.01, New York County, New York",5214,3672,77782,0.515198,2686,2134
4,36,061,031703,36061031703,317.03,Census Tract 317.03,G5020,S,248049,467876,+40.7161440,-074.0202950,"POLYGON ((-74.02373 40.71389, -74.02339 40.715...","Census Tract 317.03, New York County, New York",3765,3103,157464,0.499750,1881,1521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,36,061,015002,36061015002,150.02,Census Tract 150.02,G5020,S,125571,0,+40.7824499,-073.9576478,"POLYGON ((-73.95992 40.78221, -73.95947 40.782...","Census Tract 150.02, New York County, New York",3777,3422,112417,0.561798,2121,1851
284,36,061,015200,36061015200,152,Census Tract 152,G5020,S,189340,529192,+40.7776648,-073.9398735,"POLYGON ((-73.94751 40.77944, -73.94705 40.780...","Census Tract 152, New York County, New York",5939,3999,77879,0.610128,3623,2286
285,36,061,019100,36061019100,191,Census Tract 191,G5020,S,223477,175654,+40.8015611,-073.9722959,"POLYGON ((-73.97989 40.80418, -73.97876 40.805...","Census Tract 191, New York County, New York",7806,5124,90201,0.512821,4003,2577
286,36,061,031900,36061031900,319,Census Tract 319,G5020,S,99774,317234,+40.7022835,-074.0203960,"POLYGON ((-74.02540 40.70474, -74.01976 40.704...","Census Tract 319, New York County, New York",0,0,0,1.000000,0,0
287,36,061,019900,36061019900,199,Census Tract 199,G5020,S,226590,192056,+40.8065430,-073.9687765,"POLYGON ((-73.97488 40.81080, -73.96922 40.808...","Census Tract 199, New York County, New York",5439,4189,63429,0.545852,2968,2308

In [13]:
#Ensure the crs(Coordinate Scale) matches set it to EPSG:4269
first_merge = first_merge.to_crs("EPSG:4269")
first_merge.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands.  British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [14]:
#3 reading in our GeoJSON file for MTA_Subway_Stations linking GPS coordinates from NYC Open Data
url_for_MTA = "Image"
MTA_Subway_Stations = gpd.read_file(url_for_MTA)

In [15]:
MTA_Subway_Stations

,name,url,line,objectid,notes,geometry
0,Astor Pl,http://web.mta.info/nyct/service/,4-6-6 Express,1,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-73.99107 40.73005)
1,Canal St,http://web.mta.info/nyct/service/,4-6-6 Express,2,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-74.00019 40.71880)
2,50th St,http://web.mta.info/nyct/service/,1-2,3,"1-all times, 2-nights",POINT (-73.98385 40.76173)
3,Bergen St,http://web.mta.info/nyct/service/,2-3-4,4,"4-nights, 3-all other times, 2-all times",POINT (-73.97500 40.68086)
4,Pennsylvania Ave,http://web.mta.info/nyct/service/,3-4,5,"4-nights, 3-all other times",POINT (-73.89489 40.66471)
...,...,...,...,...,...,...
468,Coney Island - Stillwell Av,http://web.mta.info/nyct/service/,D-F-N-Q,469,"D,F,N,Q-all times",POINT (-73.98124 40.57728)
469,34th St - Hudson Yards,http://web.mta.info/nyct/service/,7-7 Express,470,"7-all times, 7 Express-rush hours AM westbound...",POINT (-74.00220 40.75545)
470,72nd St,http://web.mta.info/nyct/service/,Q,641,Q-all times,POINT (-73.95836 40.76880)
471,86th St,http://web.mta.info/nyct/service/,Q,642,Q-all times,POINT (-73.95177 40.77786)
472,96th St,http://web.mta.info/nyct/service/,Q,643,Q-all times,POINT (-73.94707 40.78424)

In [16]:
#Before Spatial Joining we must check the crs settings for each file
MTA_Subway_Stations = MTA_Subway_Stations.to_crs("EPSG:4269")
MTA_Subway_Stations = MTA_Subway_Stations.to_crs(epsg=4269)
MTA_Subway_Stations.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands.  British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [17]:
#Spatial Join using geometry column in both gpd.dataframes, state 'intersect' or "within" 
spatialjoin = gpd.sjoin(MTA_Subway_Stations, first_merge, op='intersects')
spatialjoin

,name,url,line,objectid,notes,geometry,index_right,STATEFP,COUNTYFP,TRACTCE,...,AWATER,INTPTLAT,INTPTLON,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
0,Astor Pl,http://web.mta.info/nyct/service/,4-6-6 Express,1,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-73.99107 40.73005),145,36,061,005700,...,0,+40.7294159,-073.9923910,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
400,8th St - NYU,http://web.mta.info/nyct/service/,N-Q-R-W,401,"N-all times, Q-nights, R-all times exc nights",POINT (-73.99251 40.73046),145,36,061,005700,...,0,+40.7294159,-073.9923910,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
1,Canal St,http://web.mta.info/nyct/service/,4-6-6 Express,2,"4 nights, 6-all times, 6 Express-weekdays AM s...",POINT (-74.00019 40.71880),139,36,061,004500,...,0,+40.7205701,-073.9993912,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
416,Canal St,http://web.mta.info/nyct/service/,R-W,417,"N-nights, R-all other times",POINT (-74.00183 40.71947),139,36,061,004500,...,0,+40.7205701,-073.9993912,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
434,Canal St,http://web.mta.info/nyct/service/,N-Q,435,"N-all times, Q-weekdays and evenings",POINT (-74.00105 40.71881),139,36,061,004500,...,0,+40.7205701,-073.9993912,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,125th St,http://web.mta.info/nyct/service/,4-5-6-6 Express,468,"4,6-all times, 5-all times exc nights, 6 Expre...",POINT (-73.93759 40.80414),232,36,061,019600,...,0,+40.8028054,-073.9385762,"Census Tract 196, New York County, New York",3278,544,42541,0.446229,1462,172
469,34th St - Hudson Yards,http://web.mta.info/nyct/service/,7-7 Express,470,"7-all times, 7 Express-rush hours AM westbound...",POINT (-74.00220 40.75545),172,36,061,009900,...,1130336,+40.7495435,-074.0091035,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704
470,72nd St,http://web.mta.info/nyct/service/,Q,641,Q-all times,POINT (-73.95836 40.76880),57,36,061,012600,...,0,+40.7684665,-073.9585261,"Census Tract 126, New York County, New York",10346,7228,85911,0.550661,5697,3879
471,86th St,http://web.mta.info/nyct/service/,Q,642,Q-all times,POINT (-73.95177 40.77786),197,36,061,014601,...,0,+40.7771916,-073.9521608,"Census Tract 146.01, New York County, New York",3734,3164,92485,0.492126,1837,1533
472,96th St,http://web.mta.info/nyct/service/,Q,643,Q-all times,POINT (-73.94707 40.78424),50,36,061,015602,...,0,+40.7851820,-073.9463253,"Census Tract 156.02, New York County, New York",1722,667,69221,0.608643,1048,317

In [18]:
spatialjoin.drop(labels=['url','objectid','notes','index_right','STATEFP','COUNTYFP','TRACTCE','NAME_x','NAMELSAD','MTFCC','FUNCSTAT','ALAND','AWATER','INTPTLAT','INTPTLON'], axis=1, inplace=True, errors='raise')
spatialjoin

,name,line,geometry,GEOID,NAME_y,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
0,Astor Pl,4-6-6 Express,POINT (-73.99107 40.73005),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
400,8th St - NYU,N-Q-R-W,POINT (-73.99251 40.73046),36061005700,"Census Tract 57, New York County, New York",2356,2106,125268,0.537057,1265,1126
1,Canal St,4-6-6 Express,POINT (-74.00019 40.71880),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
416,Canal St,R-W,POINT (-74.00183 40.71947),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
434,Canal St,N-Q,POINT (-74.00105 40.71881),36061004500,"Census Tract 45, New York County, New York",757,452,90167,0.459137,347,232
...,...,...,...,...,...,...,...,...,...,...,...
467,125th St,4-5-6-6 Express,POINT (-73.93759 40.80414),36061019600,"Census Tract 196, New York County, New York",3278,544,42541,0.446229,1462,172
469,34th St - Hudson Yards,7-7 Express,POINT (-74.00220 40.75545),36061009900,"Census Tract 99, New York County, New York",4995,3991,113702,0.447427,2234,1704
470,72nd St,Q,POINT (-73.95836 40.76880),36061012600,"Census Tract 126, New York County, New York",10346,7228,85911,0.550661,5697,3879
471,86th St,Q,POINT (-73.95177 40.77786),36061014601,"Census Tract 146.01, New York County, New York",3734,3164,92485,0.492126,1837,1533
472,96th St,Q,POINT (-73.94707 40.78424),36061015602,"Census Tract 156.02, New York County, New York",1722,667,69221,0.608643,1048,317

In [19]:
spatialjoin.to_pickle('Stations_W_Data.pkl')

In [19]:
spatialjoin.to_csv('Stations_W_Data.csv')